@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* mui slider price range */



.pro-card{
  box-shadow: 0px 0px 2px 1px #eaeaea;
}
.pro-card:hover{
  box-shadow: 0px 0px 5px 2px #eaeaea;
}
/* slider */
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  /* color: red; */
}
/* Next Button */
.swiper-button-next::after {
  font-size: 32px;  /* Increase or decrease this value for the icon size */
  color: white;     /* Optional: Change the color of the icon */
}

/* Previous Button */
.swiper-button-prev::after {
  font-size: 32px;  /* Adjust the previous icon size */
  color: white;     /* Optional: Change the color of the icon */
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 32px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev {
  position: absolute;
  background: #636363;
  color: white !important;
  left: 0px !important;
  font-weight: 900;
  font-size: 16px !important;
  padding: 40px 16px;
  opacity: 0.9;
  transform: translateY(-70%);
}
.swiper-button-next{
  position: absolute;
  background: #636363;
  color: white !important;
  right: 0px !important;
  font-weight: 900;
  font-size: 32px;
  padding: 40px 16px;
  opacity: 0.9;
  transform: translateY(-70%);
  z-index: 10;
} 



.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 0px);
  /* right: auto; */
  color: white;
}
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 0px);
  /* right: auto; */
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: -0.65 !important;
  cursor: auto;
  pointer-events: none;
}